#grad1 {
    width:100%;
    background: url("chsmith.jpg");
    color:black;
    opacity:0.95;
}

.landing {
	height: 100vh;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
	float: right;
}

.wrapvideo {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}

.wrapvideo iframe {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: width*0.75;
}

.clumsy {
	height: 200px;

}

